nav li
    {
        float: left;
        width: 100px;
        height: 50    px;
        border: 1px solid #463a3a;
        border-radius: 10px;
        text-align: center;
        padding: 50px;
        box-shadow: 60px -16px #760f0f;
        margin-left: 100px;
        margin-top: 20px;
    }

nav li a
    {
        display: block;
        background-color: #de7c7c;
        border-radius: 10px;
    }

nav li :hover
    {
        background-color: #760f0f;
        border-radius: 10px;
    }

nav ul
    {
        list-style-type: none;
    }

li a
    {
        display: block;
        background-color: #de7c7c;
        border-radius: 10px;
    }

li :hover
    {
        background-color: #760f0f;
        border-radius: 10px;
    }
    
ul
    {
        list-style-type: none;
    }

body{
        background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Flookaside.fbsbx.com%2Flookaside%2Fcrawler%2Fmedia%2F%3Fmedia_id%3D106528833155297&imgrefurl=https%3A%2F%2Fwww.facebook.com%2FLecodage123%2F&tbnid=_FhuMTLZtuQXVM&vet=12ahUKEwistrfU8NHzAhUNYBoKHapmDKoQMygVegUIARCAAg..i&docid=Cb4DtgRjlh2ZdM&w=640&h=420&q=codage&ved=2ahUKEwistrfU8NHzAhUNYBoKHapmDKoQMygVegUIARCAAg");
        background-color : RGBa(255, 255, 0, 0.2);
    }
