nav li
    {
        float: left;
        width: 100px;
        height: 50    px;
        border: 1px solid #463a3a;
        border-radius: 10px;
        text-align: center;
        padding: 50px;
        box-shadow: 60px -16px #760f0f;
        margin-left: 100px;
        margin-top: 20px;
    }

nav li a
    {
        display: block;
        background-color: #de7c7c;
        border-radius: 10px;
    }

nav li :hover
    {
        background-color: #760f0f;
        border-radius: 10px;
    }

nav ul
    {
        list-style-type: none;
    }

li a
    {
        display: block;
        background-color: #de7c7c;
        border-radius: 10px;
    }

li :hover
    {
        background-color: #760f0f;
        border-radius: 10px;
    }
    
ul
    {
        list-style-type: none;
    }

body
    {
        background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2FLecodage123%2F&psig=AOvVaw2dWpgBWvQX5T5pjKVkFI1L&ust=1634575036267000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPCn_uDx0fMCFQAAAAAdAAAAABAD');
    }
